<section id="banner">
  <h2>{{ .Site.Params.title }}</h2>
  <p>{{ .Site.Params.subtitle }}</p>
  <ul class="top-icons">
    {{ range .Site.Params.links }}
    {{ $pack := or .icon_pack "fa" }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" aria-label="{{ .service }}"><i class="icon {{ $pack }} {{ .icon }}"><span class="label">{{ .service }}</span></i></a>
      </li>
    {{ end }} {{/* range */}}
  </ul>
  <ul class="actions special">
    {{ range .Params.Banner.button }}
      <li><a href="{{ .url | relURL }}" class="button {{ .type }}">{{ .text }}</a></li>
    {{ end }}
  </ul>
</section>
